@page "/"
@using Grpc.Net.Client

<PageTitle>Home</PageTitle>

<h1>@reply.Message!</h1>

Welcome to your radar journey.


@code {
    // This method is called when the component is initialized

    private HelloReply reply = new HelloReply();

    protected override async Task OnInitializedAsync()
    {
        var channel = GrpcChannel.ForAddress("https://localhost:7050");
        var client = new Greeter.GreeterClient(channel);

        reply = await client.SayHelloAsync(
            new HelloRequest { Name = "David" });
    }
}